.form-container{
    width: 400px;
    height: 500px;
    background-color: beige;
    border-radius: 8px;
    border: 2px solid rgb(16, 17, 17);
    margin: 20px auto;
    padding-left: 40px;
    
}
.form-title{
    text-align: center;
    color: #2A414f;
    letter-spacing: 0.0025em;
}
.from-control label{
    display: block;
    font-size: larger;
    color: rgb(67, 0, 252);
    text-align: left;
    
    
}
.from-control input{
    border-radius: 5px;
    width: 300px;
    padding: 8px;
    margin-right: 100px;
    /* border: 1.5em; */
    /* margin: 0 5px; */
}
.from-control{
    text-align: center;
    padding: 10px;
}
.btn-submit:hover{
    background: rgb(255,153,0,0.6);
}
.btn-submit{
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    /* margin-right: 100px; */
    width: 300px;
    border: none;
    background: rgb(255,153,0,0.3);
    margin-left: 20px;
    font-size: larger;
    margin-top: 20px;
}
.form-container{
    box-shadow: 5px 10px 18px #888888;
}
